@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
   display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000000;
}

.wrapper{
    display: flex;
}

.wrapper .static-txt{
    color: #fff;
    font-size: 60px;
    font-weight: 400;

}

.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;

}

.dynamic-txts li{
    color: #66ff00;
    list-style: none;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4)infinite;

}

@keyframes slide {
    100%{
      top: -360px;
    }
} 

.dynamic-txts li span{
    position: relative;
} 

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    border-left: 2px solid #66ff00;
    animation: typing 3s steps(30)infinite;

}

@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
 